    <!-- Text Content
    ================================================== -->

    <section class="section-text">
      <div class="container">
        <h3 class="text-xs-center display-1 m-b-3">Stuff I can help you with</h3>
        <div class="row p-y-2">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h2>PSD to HTML conversion</h2>

            <p>This has been a workhorse of mine for the past few years. I strive to build modular, easy to maintain HTML/CSS assets and turn them into a full website. I use modern web development tools, such as Gulp, SCSS and any other necessary tools to achieve speed, quality and automation.</p>
          </div>
        </div>

        <div class="row p-y-2">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h2>Single Page App development</h2>

            <p>This is something I enjoy doing and have been focused on for the past year. I mainly use Angularjs for this, but have also used React, Meteor (full stack JS framework) and Express (for building backend APIs).</p>
          </div>
        </div>

        <div class="row p-y-2">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h2>Maintaining and enhancing legacy projects</h2>

            <p>Sometimes we have no choice but keeping some old piece of software. However there’s always a way to make our life easier. I’ve made old sites responsive, fixed clunky websites, sped up slow websites by optimizing their files and added functionality to old websites to keep up with today’s requirements.</p>
          </div>
        </div>
      </div>
    </section>