    <!-- Hero Section
    ================================================== -->

    <header class="jumbotron bg-inverse text-xs-center center-vertically" role="banner">
      <div class="container">
        <h1 class="display-3">I turn ideas into live projects</h1>

        <h2 class="m-b-3" style="max-width: 80%; margin: auto;">I have worked on various websites, have solid experience with Front End technologies, especially Angular JS, have understanding in web design and SEO.<br>
        I am business goals orientated, easy to work with and a diligent coder.</h2>

        <!-- <a class="btn btn-secondary-outline m-b-1" href="http://tympanus.net/codrops/?p=25217" role="button"><span class="icon-sketch"></span>Sketch included</a> -->
        <ul class="nav nav-inline social-share">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/keligijus">
              <span class="typcn typcn-social-github"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/in/keligijus">
              <span class="typcn typcn-social-linkedin"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto:keligijus@gmail.com">
              <span class="typcn typcn-mail"></span>
            </a>
          </li>
        </ul>
      </div>
    </header>