    <!-- Navigation
    ================================================== -->

    <nav class="navbar navbar-dark bg-inverse bg-inverse-custom navbar-fixed-top">
      <div class="container">

          <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item hidden-sm-down">
              <a class="nav-link" href="https://github.com/keligijus">
                <span class="typcn typcn-social-github"></span>
                GitHub
              </a>
            </li>
            <li class="nav-item hidden-sm-down">
              <a class="nav-link" href="https://www.linkedin.com/in/keligijus">
                <span class="typcn typcn-social-linkedin"></span>
                LinkedIn
              </a>
            </li>
            <li class="nav-item hidden-sm-down">
              <a class="nav-link" href="mailto:keligijus@gmail.com">
                <span class="typcn typcn-mail"></span>
                k.eligijus@gmail.com
              </a>
            </li>
            <li class="nav-item text-xs-center">
              <a href="/">
              <span class="headshot">
                <img src="/img/eligijus-krepsta-head.jpg" alt="Avatar" class="img-circle">
              </span>
            </a>
            </li>
          </ul>
        </div>

    </nav>
