    <!-- Navigation
    ================================================== -->

    <nav class="navbar navbar-dark bg-inverse bg-inverse-custom navbar-fixed-top">
      <div class="container">

        <a class="navbar-toggler hidden-md-up pull-xs-right" data-toggle="collapse" href="#collapsingNavbar" aria-expanded="false" aria-controls="collapsingNavbar">
        &#9776;
      </a>
        <a class="navbar-toggler navbar-toggler-custom hidden-md-up pull-xs-right" data-toggle="collapse" href="#collapsingMobileUser" aria-expanded="false" aria-controls="collapsingMobileUser">
          <span class="icon-user"></span>
        </a>
        <div id="collapsingNavbar" class="collapse navbar-toggleable-custom" role="tabpanel" aria-labelledby="collapsingNavbar">
          <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/keligijus">
                <span class="typcn typcn-social-github"></span>
                GitHub
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.linkedin.com/in/keligijus">
                <span class="typcn typcn-social-linkedin"></span>
                LinkedIn
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="mailto:keligijus@gmail.com">
                <span class="typcn typcn-mail"></span>
                k.eligijus@gmail.com
              </a>
            </li>
            <li class="nav-item">
              <span class="headshot">
                <img src="img/eligijus-krepsta-head.jpg" height="40" width="40" alt="Avatar" class="img-circle">
              </span>
            </li>
          </ul>
        </div>
      </div>
    </nav>