    <!-- News
    ================================================== -->

    <section class="section-news">
      <div class="container">
        <h3 class="text-xs-center display-1">Portfolio items</h3>
        <div class="bg-inverse">

          <div class="row">
            <div class="col-md-6 p-r-0">
              <figure class="m-b-0">
                <img src="http://i.imgur.com/LqNQ7kh.jpg" alt="Redal.eu" class="img-fluid">
              </figure>
            </div>
            <div class="col-md-6 p-l-0">
              <article class="center-block">
                <span class="label label-info">Single Page App</span>
                <br>
                <h5>Trading platform built with AngularJS</h5>
                <p class="m-b-0">This is a great app I've been working on for the past year. I've learned so much about Angular, SPAs, design and start up work style.</p>
                <p class="m-b-0">
                  <span class="label label-default text-uppercase">Angular JS, TDD, CI</span>
                </p>
              </article>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-md-push-6 p-l-0">
              <figure class="m-b-0">
                <img src="http://i.imgur.com/Icilwz4.jpg" alt="Užuovėjos.lt" class="img-fluid">
              </figure>
            </div>
            <div class="col-md-6 col-md-pull-6 p-r-0">
              <article class="center-block">
                <span class="label label-info">WordPress website</span>
                <br>
                <h5>Just a simple WordPress site built from scratch</h5>
                <p class="m-b-0">Designed and built the website for non profit organisation.</p>
                <p class="m-b-0">
                  <span class="label label-default text-uppercase">Bootstrap, WordPress</span>
                </p>
              </article>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 p-r-0">
              <figure class="m-b-0">
                <img src="http://i.imgur.com/64ZZXYT.jpg" alt="Wesleyan website" class="img-fluid">
              </figure>
            </div>
            <div class="col-md-6 p-l-0">
              <article class="center-block">
                <span class="label label-info">Various Websites</span>
                <br>
                <h5>Worked on various websites while at BPI Agency</h5>
                <p class="m-b-0">Have collaborated with a team of project managers, designers and developers.</p>
                <p class="m-b-0">
                  <span class="label label-default text-uppercase">HTML5, CSS3, Photoshop</span>
                </p>
              </article>
            </div>
          </div>

        </div>
      </div>
    </section>