    <!-- Portfolio
    ================================================== -->

    <section class="section-news section-text section-portfolio">
      <div class="container" style="display: table; height: 100%;">
        <h3 class="text-xs-center display-1 m-b-3">Portfolio</h3>

        <div class="row">
          <div class="col-xs-12">
            <img src="img/portfolio-items/redal.jpg" alt="Redal.eu" class="img-fluid">
          </div>
        </div>

        <br><br><br>
        <hr><hr><hr>



        <!-- <div class="bg-inverse"> -->
        <div>

          <div class="row" style="display: table-row; height: 100%;">
            <div class="col-lg-3 p-r-0" style="float: none; display: table-cell; background: url('img/portfolio-items/infinite-scroll-app.jpg'); background-size: contain; background-repeat: repeat;">
              <!-- <figure class="m-b-0"> -->
                <!-- <img src="img/portfolio-items/redal.jpg" alt="Redal.eu" class="img-fluid"> -->
<!--                 <img src="img/portfolio-items/redal.jpg" alt="Redal.eu" class="img-fluid">
                <img src="img/portfolio-items/redal.jpg" alt="Redal.eu" class="img-fluid">
                <img src="img/portfolio-items/redal.jpg" alt="Redal.eu" class="img-fluid">
                <img src="img/portfolio-items/redal.jpg" alt="Redal.eu" class="img-fluid">
                <img src="img/portfolio-items/redal.jpg" alt="Redal.eu" class="img-fluid">
                <img src="img/portfolio-items/redal.jpg" alt="Redal.eu" class="img-fluid"> -->
              <!-- </figure> -->
            </div>
            <div class="col-lg-9 p-l-0" style="float: none; display: table-cell;">
              <article class="center-block">
                <h5>Trading platform built with AngularJS</h5>
                <p>This is a great app I've been working on for the past year. I've learned so much about Angular, SPAs, design and start up work style.</p>
                <p>This is a great app I've been working on for the past year. I've learned so much about Angular, SPAs, design and start up work style.</p>
                <p>This is a great app I've been working on for the past year. I've learned so much about Angular, SPAs, design and start up work style.</p>
                <p>This is a great app I've been working on for the past year. I've learned so much about Angular, SPAs, design and start up work style.</p>
                <p>This is a great app I've been working on for the past year. I've learned so much about Angular, SPAs, design and start up work style.</p>
                <p>
                    <a href="https://redal.eu/" class="font-italic">Visit redal.eu</a>
                </p>
                <span class="label label-info">Single Page App</span>
                <span class="label label-info">AngularJS</span>
                <span class="label label-info">TDD</span>
                <span class="label label-info">CI</span>
                <br>
              </article>
            </div>
          </div>

          <br>
          <br>
          <hr class="mb-3 mt-3">
          <br>
          <br>

          <div class="row">
            <div class="col-lg-6 p-r-0">
              <figure class="m-b-0">
                <img src="img/portfolio-items/redal.jpg" alt="Redal.eu" class="img-fluid">
              </figure>
            </div>
            <div class="col-lg-6 p-l-0">
              <article class="center-block">
                <h5>Trading platform built with AngularJS</h5>
                <p>This is a great app I've been working on for the past year. I've learned so much about Angular, SPAs, design and start up work style.</p>
                <p>
                    <a href="https://redal.eu/" class="font-italic">Visit redal.eu</a>
                </p>
                <span class="label label-info">Single Page App</span>
                <span class="label label-info">AngularJS</span>
                <span class="label label-info">TDD</span>
                <span class="label label-info">CI</span>
                <br>
              </article>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-lg-push-6 p-l-0">
              <figure class="m-b-0">
                <img src="img/portfolio-items/infinite-scroll-app.jpg" alt="Infinite Scroll App" class="img-fluid">
              </figure>
            </div>
            <div class="col-lg-6 col-lg-pull-6 p-r-0">
              <article class="center-block">
                <h5>Infinte Scroll App</h5>
                <p>A Single Page App written in plain JavaScript. Pulls images form Dribbble API.</p>
                <p>
                    <a href="http://infinite-scroll-app.surge.sh" class="font-italic">Try This App</a><br>
                    <a href="https://github.com/keligijus/infinite-scroll-app" class="font-italic">View Github Repo</a>
                </p>
                <span class="label label-info">HTLM5</span>
                <span class="label label-info">CSS3</span>
                <span class="label label-info">VanillaJS</span>
              </article>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 p-r-0">
              <figure class="m-b-0">
                <img src="img/portfolio-items/bpi-agency.jpg" alt="BPI Agency" class="img-fluid">
              </figure>
            </div>
            <div class="col-lg-6 p-l-0">
              <article class="center-block">
                <h5>Worked on various websites while at BPI Agency</h5>
                <p>Have collaborated with a team of project managers, designers and developers.</p>
                <p>
                    <a href="http://bpiagency.com/" class="font-italic">Visit bpiagency.com</a>
                </p>
                <span class="label label-info">HTLM5</span>
                <span class="label label-info">CSS3</span>
                <span class="label label-info">jQuery</span>
                <span class="label label-info">Photoshop</span>
              </article>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-lg-push-6 p-l-0">
              <figure class="m-b-0">
                <img src="img/portfolio-items/vaikosirdis.jpg" alt="vaikosirdis.lt" class="img-fluid">
              </figure>
            </div>
            <div class="col-lg-6 col-lg-pull-6 p-r-0">
              <article class="center-block">
                <h5>Website for Vaiko Širdies Asociacija</h5>
                <p>Have worked in tandem with back end developer to build a website for a non profit organisation.</p>
                <p>
                    <a href="http://www.vaikosirdis.lt/" class="font-italic">Visit vaikosirdis.lt</a>
                </p>
                <span class="label label-info">HTML5</span>
                <span class="label label-info">CSS3</span>
                <br>
              </article>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 p-r-0">
              <figure class="m-b-0">
                <img src="img/portfolio-items/uzuovejos.jpg" alt="Užuovėjos.lt" class="img-fluid">
              </figure>
            </div>
            <div class="col-lg-6 p-l-0">
              <article class="center-block">
                <h5>Just a simple WordPress site built from scratch</h5>
                <p>Designed and built the website for non profit organisation.</p>
                <p>
                    <a href="http://xn--uuovjos-w8a73g.lt/" class="font-italic">Visit užuovėjos.lt</a>
                </p>
                <span class="label label-info">WordPress</span>
                <span class="label label-info">Bootstrap</span>
                <span class="label label-info">UI Design</span>
              </article>
            </div>
          </div>

        </div>
      </div>
    </section>
