    <!-- Features
    ================================================== -->

    <section class="section-text">
      <div class="container">
        <h3 class="text-xs-center display-1">Tech I work with</h3>

        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <!-- <h2>PSD to HTML</h2> -->

            <p>All modern front end web technologies. I have good experience with SPAs (single page apps), JavaScript stack (most of the popular frameworks). I also have some backend JS experience, mainly building REST APIs with Express and Mongo.</p>

            <ul>
              <li>Comfortable with any CSS framework.</li>
              <li>Solid experience with Angular JS.</li>
              <li>Some experience with React, Meteor, Express, Mongo.</li>
            </ul>

            <p>I am very aware of what Google looks at in HTML. I adhere to its requirements when I code.</p>

            <p>Working at small teams, I would constantly need to collaborate with designers, so I have good understanding of websites needs in terms of design. I have also taken training in design thinking, design process and UX design.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="section-features text-xs-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">HTML5</h4>
                <h6 class="card-subtitle text-muted">&amp; its goodies</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">AngularJS</h4>
                <h6 class="card-subtitle text-muted">Truly Superheroic framework</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">WordPress</h4>
                <h6 class="card-subtitle text-muted">To empower the webmaster</h6>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Gulp</h4>
                <h6 class="card-subtitle text-muted">Makes life so much easier</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">React</h4>
                <h6 class="card-subtitle text-muted">Something trully beautiful</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Meteor</h4>
                <h6 class="card-subtitle text-muted">Fast prototyping and idea validation</h6>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </section>