    <!-- Features
    ================================================== -->

    <h3 class="text-xs-center display-1 m-t-3">Tech I work with</h3>

    <section class="section-features text-xs-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">HTML5</h4>
                <h6 class="card-subtitle text-muted">&amp; its goodies</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">AngularJS</h4>
                <h6 class="card-subtitle text-muted">Trully Superheroic framework</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">WordPress</h4>
                <h6 class="card-subtitle text-muted">To empower the webmaster</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Gulp</h4>
                <h6 class="card-subtitle text-muted">Makes life so much easier</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">React</h4>
                <h6 class="card-subtitle text-muted">Something trully beautiful</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Meteor</h4>
                <h6 class="card-subtitle text-muted">Fast prototyping and idea validation</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>