    <!-- Testimonials
    ================================================== -->

    <section class="section-testimonials text-xs-center bg-inverse">
      <div class="container">
        <h3 class="sr-only">Testimonials</h3>
        <div id="carousel-testimonials" class="carousel slide" data-ride="carousel" data-interval="0">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <blockquote class="blockquote">
                <img src="img/dovile-bieleviciute.jpg" height="80" width="80" alt="Avatar" class="img-circle">
                <p class="h3">Fast and high-quality work according to the preferences, professional advice before and useful improvements after.</p>
                <footer>Dovilė Bielevičiutė, <a href="http://www.lki.lt/">Institute of Lithuanian Language</a>, Head of Lithuanian Language<br>
                <a href="http://užuovėjos.lt">užuovėjos.lt</a></footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </section>
