    <!-- Testimonials
    ================================================== -->

    <section class="section-testimonials text-xs-center bg-inverse">
      <div class="container">
        <h3 class="sr-only">Testimonials</h3>
        <div id="carousel-testimonials" class="carousel slide" data-ride="carousel" data-interval="0">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <blockquote class="blockquote">
                <img src="img/daiva-jonauskiene.jpg" height="80" width="80" alt="Avatar" class="img-circle">
                <p class="h3">We will forever be very very grateful for your help! Thanks!</p>
                <footer>Daiva Jonauskienė from <a href="http://www.vaikosirdis.lt/">vaikosirdis.lt</a></footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </section>
