    <!-- Text Content
    ================================================== -->

    <section class="section-text">
      <div class="container">
        <h3 class="text-xs-center display-1 m-b-3">Stuff I can help you with</h3>

        <div class="row p-y-2">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h3>Single Page App Development</h3>

            <p>This is something I enjoy doing and have been focused on for the past year. I use AngularJS and ExpressJS for this. I have worked on various size apps, both in teams and on my own.</p>
          </div>
        </div>

        <div class="row p-y-2">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h3>UX and Technical Research</h3>

            <p>It is very important to stay lean while building the MVP. I can conduct research and find the essential features. More, I will find the best technical approach to the problem we're solving.</p>
          </div>
        </div>

        <div class="row p-y-2">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h3>Maintenance and Enhancements</h3>

            <p>Once the MVP validates the idea you will need to continue improving the app. I have experience maintaining web apps with growing usage and traffic.</p>
          </div>
        </div>
      </div>
    </section>
