// @import "reset";
@import "../bower_components/typicons.font/src/font/typicons";
// @import "syntax";

@import "landio/landio";

// custom scss
.bg-inverse-custom .navbar-nav .nav-item {
  background-color: transparent;
}

.jumbotron {
  background: #663fb5;
  background: linear-gradient(to bottom, #663fb5 0% ,#492D82 100%);

  @include media-breakpoint-down(md) {
    padding-top: 8.25rem;
  }

  h1, h2, h3 {
    max-width: 90%;
    margin: {
      left: auto;
      right: auto;
    }
  }
}

.social-share a span {
  margin-right: 0;
  font-size: 2rem;
}

.section-text + .section-features {
  padding-top: 0;
}

.theme-credits {
  position: relative;
  top: 20px;

  @include media-breakpoint-up(md) {
    top: 55px;
  }
}

.section-testimonials {
  background: #663fb5;
  background: linear-gradient(to bottom, #663fb5 0% ,#492D82 100%);
}

.section-portfolio {
  p {
    line-height: 1.5
  }

  @include media-breakpoint-down(md) {
    .row:after {
      content: '';
      display: block;
      background-color: #fff;
      height: 2rem;
      width: 100%;
    }
  }
}

.label-info {
  background-color: #6c59b4;
}

.headshot {

  @include media-breakpoint-up(md) {
    padding: 1.25rem 0 1.3125rem .5rem;
  }

  img {
    box-shadow: 0 0 0 4px #fff;
    height: 80px;
    width: 80px;

    @include media-breakpoint-up(md) {
      margin-right: .5rem;
      margin-top: 1rem;
      height: 40px;
      width: 40px;
    }
  }

}

.post-content {
  p + h2, p + h3, p + h4, p + h5, p + h6 {
    padding-top: 1.75rem;
  }
}