// @import "reset";
@import "../bower_components/typicons.font/src/font/typicons.min.css";
@import "syntax";

@import "landio/landio";

// custom scss
.jumbotron {
  background: #663fb5;
  background: linear-gradient(to bottom, #663fb5 0% ,#492D82 100%);

  h1, h2, h3 {
    max-width: 90%;
    margin: {
      left: auto;
      right: auto;
    }
  }
}

.social-share a span {
  margin-right: 0;
  font-size: 2rem;
}

.section-text + .section-features {
  padding-top: 0;
}

.theme-credits {
  position: relative;
  top: 55px;
}

.section-testimonials {
  background: #663fb5;
  background: linear-gradient(to bottom, #663fb5 0% ,#492D82 100%);
}

.section-portfolio {
  p {
    line-height: 1.5
  }
}

.label-info {
  background-color: #6c59b4;
}

.headshot {
  padding: 1.25rem 0 1.3125rem .5rem;

  img {
    box-shadow: 0 0 0 4px #fff;
    margin-right: .5rem;
    margin-top: 1rem;
  }

}